        <form method="get" action="/quizes/answer">
            <h5>Pregunta: </h5> <%= pregunta %> <p>
            <input type="text" name="respuesta" value="Responda aquí"/>
            <input type="submit" value="Enviar">
        </form>